################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WFVL/.vs/WFVL/v15
/WFVL/WFVL/bin/Debug
/WFVL/WFVL/obj/Debug
